In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from google.colab import files
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls "/content/drive/My Drive/data_x_data"

ls: cannot access '/content/drive/My Drive/data_x_data': No such file or directory

In [0]:
#In order to run all data files in each of our individual laptops, we must make sure the filing system is the same for everyone.
# Make sure your data files are all located in the My Drive and have the same file name as below.
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
list_filenames = [] 
list_filenames = ['https://docs.google.com/spreadsheets/d/1DLvxE18-K_3yv_YQndKZZC4i36bP-bJvtcRn1deHIRI/edit#gid=0','https://docs.google.com/spreadsheets/d/1QQfxnA2jR5NaEZvgm68Fa62IOLZzOvgOns-Q8HWLFR8/edit#gid=0',
                  'https://docs.google.com/spreadsheets/d/1DFRpEUS1CTLcPrAxpHIDlYy2tIqmIZ6MfbiB9NT5g-Q/edit#gid=0','https://docs.google.com/spreadsheets/d/1VUNnquPl3Y3AsV9RBKUUcGoqRoXFF6O4ME5K9goN3qY/edit#gid=0',
                  'https://docs.google.com/spreadsheets/d/1kYqWPF9AuRuSu-YgsoN0Jor4vBtX2qWbsRewxOD8Wm8/edit#gid=0','https://docs.google.com/spreadsheets/d/1M1dLLpjE0G0HlYjVpniCNn332Zsprw3Y5MgNw3zUzYo/edit#gid=0',
                  'https://docs.google.com/spreadsheets/d/1JIxDRpHuZXuZFga82qpi-M05HkQTOv64TKZejXLRSUA/edit#gid=0','https://docs.google.com/spreadsheets/d/1XYk00x9a_O5SfO6iABL-c_gcAqM3XsH2ooAbv5exY9Y/edit#gid=0',
                  'https://docs.google.com/spreadsheets/d/1OHTk9NcvDHrp-UTqX8u3k28XTRG3vm4Xraf-zrMUIyE/edit#gid=0','https://docs.google.com/spreadsheets/d/1UI1bG09fOmIkzyrrmRprfRwyeXzPOHpqBG6U7kYoBlQ/edit#gid=0']

In [0]:
for i,j in enumerate(list_filenames): 
  #put in link to google sheet in the url function below
  wb = gc.open_by_url(j)
  # which sheet you want from the gsheet
  sheet_one = wb.worksheet('Sheet1')
  data = sheet_one.get_all_values()
  df = pd.DataFrame(data)
  df.columns = df.iloc[0]
  df = df.iloc[1:]
  df
  df.describe()
  df_test= df.copy()
  df_test.dtypes
  df_test=df.drop(['Tm','Lg','W-L%','GF','SO/W','CG','SHO','SV','BF','H9','HR9','BB9','SO9'], axis=1)
  df_test.Age = pd.to_numeric(df_test['Age'])
  df_test.W = pd.to_numeric(df_test['W'])
  df_test.L = pd.to_numeric(df_test['L'])
  df_test.ERA = pd.to_numeric(df_test['ERA'])
  df_test.G = pd.to_numeric(df_test['G'])
  df_test.IP = pd.to_numeric(df_test['IP'])
  df_test['H'] = pd.to_numeric(df_test['H'])
  df_test['R'] = pd.to_numeric(df_test['R'])
  df_test.HR = pd.to_numeric(df_test['HR'])
  df_test.ER = pd.to_numeric(df_test['ER'])
  df_test.BB = pd.to_numeric(df_test['BB'])
  df_test.IBB = pd.to_numeric(df_test['IBB'])
  df_test.HBP = pd.to_numeric(df_test['HBP'])
  df_test.SO = pd.to_numeric(df_test['SO'])
  df_test.BK = pd.to_numeric(df_test['BK'])
  df_test.WP = pd.to_numeric(df_test['WP'])
  df_test['ERA+'] = pd.to_numeric(df_test['ERA+'])
  df_test.FIP = pd.to_numeric(df_test['FIP'])
  df_test['WHIP'] = pd.to_numeric(df_test['WHIP'])
  df_test = df_test.dropna()
  list_names = []
  for k in df_test['Name']:
    list_names.append(k.split("\\")[0][:-1])
  df_test["Name"] = list_names.copy()
    #print(i.split("\\")[0][:-1])
  df_test
  df_test.to_csv('pitching' + str(2010 + int(i)),index=False)

In [0]:
data2010=pd.read_csv('pitching2010')

In [0]:
data2011=pd.read_csv("pitching2011")

In [20]:
pd.concat([data2010,data2011])

      Rk              Name   Age  W   L   ERA  ...  HBP  BK  WP   ERA+   FIP   WHIP
0      1     Fernando Abad  33.0  0   2  4.15  ...    0   0   1  103.0  4.52  0.923
1      2        Bryan Abre  22.0  0   0  1.04  ...    0   0   0  462.0  1.25  0.808
2      3         Jason Ada  27.0  3   0  2.91  ...    3   2   1  158.0  3.95  1.154
3      4       Austin Adam  32.0  0   0  7.02  ...    0   0   0   70.0  6.99  1.860
4      5       Austin Adam  28.0  2   2  3.94  ...    1   0   4  113.0  3.12  1.125
..   ...               ...   ... ..  ..   ...  ...  ...  ..  ..    ...   ...    ...
635  658     Mike Zagurski  28.0  0   0  5.40  ...    0   0   0   79.0  7.23  2.100
636  659    Carlos Zambran  30.0  9   7  4.82  ...    5   0   1   81.0  4.59  1.442
637  660       Brad Ziegle  31.0  3   2  2.16  ...    1   0   1  187.0  2.55  1.234
638  661  Jordan Zimmerman  25.0  8  11  3.18  ...    7   1   3  120.0  3.16  1.147
639  662        Barry Zito  33.0  3   4  5.87  ...    0   0   1   60.0  5.60  1.398

[1429 rows x 22 columns]

In [21]:
df_test.describe()

0             Age           W           L  ...        ERA+         FIP        WHIP
count  789.000000  789.000000  789.000000  ...  789.000000  789.000000  789.000000
mean    27.799747    3.077313    3.077313  ...  105.017744    5.642091    1.599567
std      3.561348    3.895899    3.402799  ...   62.689952    4.341115    1.134662
min     19.000000    0.000000    0.000000  ...    6.000000   -0.790000    0.500000
25%     25.000000    0.000000    0.000000  ...   72.000000    3.910000    1.229000
50%     27.000000    2.000000    2.000000  ...   95.000000    4.760000    1.412000
75%     30.000000    4.000000    5.000000  ...  120.000000    6.060000    1.680000
max     42.000000   21.000000   17.000000  ...  921.000000   84.210000   21.000000

[8 rows x 19 columns]